.content-left {
    position: absolute;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 7px;
    width: 35vw;
    height: 99.5%;
}

.content-login {
    background-color: #acb3dd6b;
    border: 1px solid #ddd;
    border-radius: 7px;
    margin-top: 27px;
    margin-left: 25px;
    margin-right: 31px;
    margin-bottom: 27px;
    padding-bottom: 24.5px;
}

.content-login h2 {
    color: #041344;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-group {
    text-align: center;
    margin-left: 25px;
    margin-right: 31px;
    margin-bottom: 5px;
}

.form-group input{
    height: 30px;
    display: inline-block;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.form-group button{
    background-color: #acb3dd9a;
    color: #041344;
    height: 30px;
    width: 275px;
    border: 1px solid #ddd;
    border-radius: 7px;
    cursor: pointer;
}

.form-group button:hover{
    background-color: #8897e288;
}

.form-group a{
    color: #1c26b3fd;
    font-size: 14px;
}

hr {
    background-color: #acb3dd6b;
    width: 33.5vw;
    height: 1px;
    border: none;
    border-radius: 7px;
    margin-bottom: 25px;
}

.content-registro {
    background-color: #acb3dd6b;
    border: 1px solid #ddd;
    border-radius: 7px;
    margin-top: 27px;
    margin-left: 25px;
    margin-right: 31px;
    margin-bottom: 27px;
    padding-bottom: 24.5px;
}

.content-registro h2 {
    color: #041344;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-group button i{
    color: #041344;
    font-size: 20px;
}
