.header {
    background-color: #041344;
    color: #ffffffb2;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 25px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;  /* Garante que os itens estejam nos extremos */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .header i {
    font-size: 20px;
    padding-left: 25px;
    cursor: pointer;
  }
  
.header a {
  color: #ffffffb2;
}

  .header .fa-user {
    font-size: 17px;  /* Ajuste o tamanho do ícone */
    cursor: pointer;  /* Para indicar que é clicável */
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;  /* Adiciona um espaçamento entre o texto e o ícone */
  }
  
  .logo a {
    color: #ffffffb2;
    text-decoration: none;
  }
  
  .tolltip-header-question {
    position: relative;
    margin-top: 61px;
    margin-left: 27px;
    text-align: center;
    width: 400px;
    background-color: #acb3dd;
    border-radius: 10px;
    border: 1px solid #041344;
    padding: 15px 20px;
    box-sizing: border-box; /* Garante que a largura inclua bordas e padding */
    opacity: 0%;
    z-index: 9999; /* Garante que fique acima de outros elementos */
  }

  .tolltip-header-question::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 190px; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #acb3dd;
  }

  .block-moment-tolltip {
    position: relative;
    top: 58px;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: #000000; 
    z-index: 9999; /* Garante que fique acima de outros elementos */
    opacity: 0%;
} 

