.principal {
    position: fixed;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 5px;
    height: calc(100% - 83px);
    width: calc(100% - 25px);
    border-radius: 10px;
    border: 1px solid #ddd;
}

.principal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 15px 30px;
    margin-bottom: 10px;
    color: #041344;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 20px;
}

.principal-header  i {
    color: #041344;
    font-size: 22px;
    transition: font-size 0.3s ease;
    display: inline-block;
    height: 22px; /* Altura fixa igual ao tamanho inicial */
    width: 22px; /* Largura fixa */
    cursor: pointer;
}
.principal-header i:hover {
    font-size: 25px;
}

.programas-texto {
    padding-right: 41px;
    padding-left: 12px;
    border-right: 1px solid #ddd;
}

.content-left {
    margin-left: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 7px;
    width: 180px;
    height: 87.3%;
}

.content-left ul {
    padding: 12px 15px;
    margin: 0;
}

.content-left button {
    margin-bottom: 8px;
    width: 150px;
    height: 40px;
    color: #041344;
    background-color: #acb3dd;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 7px;
    border: none;
}

.content-left button:hover {
    background-color: #8897e2;
    cursor: pointer;
}

.content-rigth {
    position: absolute;
    top: 63px;
    left: 205px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 7px;
    width: 83.1%;
    height: 87.3%;
    overflow-y: auto; /* Adiciona barra de rolagem vertical */
}

.content-rigth h2 {
    color: #041344;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
}

.cards-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: -20px;
    margin-bottom: 30px;
    padding: 20px;
  }

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
    transition: background-color 0.3s ease;
  }
  
  .card-icon {
    font-size: 2.5rem;
    color: #041344;
    margin-bottom: 0px;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0px;
    color: #041344;
  }
  
  .card-description {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 15px;
  }